/* You can add global styles to this file, and also import other style files */
body {
  text-align: center;
  font-family: Arial;
}

input {
  padding: 8px;
  margin: 10px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

h2 {
  color: green;
}